*{
	margin: 0px;
	padding: 0px;
}
body{
	margin: auto;
	position: center;
	width: 70%;
}
nav{
	color: #000000;
	font-family: Segoe UI Light;
}
nav li{
	display: inline;
	float: left;
	padding-right: 20px;
}
nav li a{
	color: black;
}
#box1{
	background-color: #212529;
	width: 1000px;
	height: 250px;
	color: white;
	font-family: Segoe UI Light;
}
h2{
	font-family: Segoe UI Light;
}
h3{
	font-family: Segoe UI Light;
}
