*{
	margin: 0px;
	padding: 2px;
}
body{
	margin: auto;
	position: center;
	width: 70%;
}
nav{
	color: #000033;
	font-family: Segoe UI Light;
}
nav li{
	display: inline;
	float: left;
	padding-right: 30px;
}
nav li a{
	color: black;
}
#box1{
	background-color: #000033;
	width: auto;
	height: 200px;
	color: white;
	font-family: Segoe UI Light;
}
h2{
	font-family: Segoe UI Light;
}
h3{
	font-family: Segoe UI Light;
}
