*{
	margin: 0px;
	padding: 0px;
}
body{
	margin: auto;
	position: center;
	width: 70%;
}
nav{
	color: #000000;
	font-family: Segoe UI Light;
}
nav li{
	display: inline;
	float: left;
	padding-right: 20px;
}
nav li a{
	color: black;
}
h2{
	font-family: Segoe UI Light;
}
h3{
	font-family: Segoe UI Light;
}
#box1{
	background-color: #212529;
	width: 1000px;
	height: 250px;
	color: white;
	font-family: Segoe UI Light;
}
.judul{
	padding: 50px;
}
#box2{
	border: solid 0px black;
	height: 200px;
	font-family: Segoe UI Light;
	font-size: 25px;
	border-radius: 35px;
	width: 600px;
	box-shadow: -10px 10px 40px gray;
	padding: 30px;
}
img{
	float: right;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

