*{
	margin: 0px;
	padding: 2px;
}
body{
	margin: auto;
	position: center;
	width: 70%;
}
nav{
	color: #000000;
	font-family: Segoe UI Light;
}
nav li{
	display: inline;
	float: left;
	padding-right: 30px;
}
nav li a{
	color: black;
}
h2{
	font-family: Segoe UI Light;
}
h3{
	font-family: Segoe UI Light;
}
#box1{
	background-color: #000033;
	width: auto;
	height: 200px;
	color: white;
	font-family: Segoe UI Light;

}
.judul{
	padding: 35px;
}
#box2{
	border: solid 3px black;
	height: 200px;
	font-family: Segoe UI Light;
	font-size: 25px;
	border-radius: 35px;
	width: 600px;
	box-shadow: -10px 10px 40px gray;
	padding: 30px;
}
#box3{
	border: solid 3px black;
	height: 3px;
	font-family: Segoe UI Light;
	font-size: 25px;
	border-radius: 40px;
	width: 600px;
	box-shadow: -10px 10px 40px gray;
	padding: 30px;
}
img{
	float: right;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
#box4{
	border: solid 3px black;
	height: 950px;
	font-family: Segoe UI Light;
	font-size: 25px;
	border-radius: 35px;
	width: 600px;
	box-shadow: -10px 10px 40px gray;
	padding: 30px;
}

#box5{


}


